@model IEnumerable<PersonalFinanceTracker.Models.Expense>

<h2> Expense List</h2>
<a asp-action="Create" class="btn btn-success">Add Expense</a>

<table class="table table-bordered mt-3">
    <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Note</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExpenseCategory.CategoryName</td>
            <td>@item.Amount</td>
            <td>@item.ExpenseDate.ToShortDateString()</td>
            <td>@item.Note</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpenseID" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ExpenseID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>
